{% extends "testapp/layout.html" %}
<!--  -->
{% block title %}Продукты{% endblock %}
<!--  -->
{% block content %}
<h1>Продукты</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">Нет продуктов</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
